@model WebShop.Models.Db.USER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Xóa tài khoản
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.USERID, "Tài Khoản", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.USERID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.ROLES, "Quyền", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ROLES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PASS, "Mật Khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Xóa" class="btn btn-danger" />
                                        </div>
                                    </div>

                                }

                            </div>
                        }
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div>
    <a href="@Url.Action("Index", "USERs")" class="btn btn-default">
        <i class='fa fa-arrow-left'></i>
        <span>Back to List</span>
    </a>
</div>
