@model WebShop.Models.Db.USER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERID)
        </dd>

        <dt>
            Roles:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLES)
        </dd>

        <dt>
            Pass:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
