@model IEnumerable<WebShop.Models.Db.VENDOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="color:#999">Nhà Sản Xuất <a class="agile-icon" href="~/VENDORs/Create" style="float:left"><i class="fa fa-plus-square"></i></a></p>

        </div>

        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th data-breakpoints="xs">
                        Tên Nhà Sản Xuất
                    </th>
                    <th data-breakpoints="xs">
                        Địa Chỉ
                    </th>
                    <th data-breakpoints="xs">
                        Email
                    </th>
                    <th data-breakpoints="xs">
                        Sđt
                    </th>
                    <th data-breakpoints="xs">
                        Fax
                    </th>
                    <th data-breakpoints="xs">
                        Mô Tả
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VENDORNAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ADDRESS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PHONE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAX)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.STATUS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPTION)
                        </td>
                        <td>
                            <a href="/VENDORs/Edit/@item.VENDORID" class="btn btn-warning "> <i class="fa fa-pencil"></i> Sửa</a>
                            <a href="/VENDORs/Details/@item.VENDORID" class="btn btn-send"><i class="fa fa-list-alt"></i> Chi Tiết</a>
                            <a href="/VENDORs/Delete/@item.VENDORID" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>