@model  WebShop.Models.Security.LogOnUser
@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/UI-AD/_Login.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="log-w3">
        <div class="w3layouts-main">
            <h2>Sign In Now</h2>
            <form action="#" method="post">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "ggg", @name = "Email", @placeholder = "Tài khoản", @required = "" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                @*<input type="email" class="ggg" name="Email" placeholder="Tài khoản" required="">*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "ggg", @type = "password", @name = "Password", @placeholder = "Mật khẩu", @required = "" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                @*<input type="password" class="ggg" name="Password" placeholder="Mật khẩu" required="">*@
                <div class="clearfix"></div>
                @{
                    if (TempData["SaiPass"] != null)
                    {
                        <script type="text/javascript">
               alert('@TempData["SaiPass"]');
                        </script>
                    }

                }
                <input type="submit" value="Sign In" name="login">
            </form>
            <p>Don't Have an Account ?<a href="registration.html">Create an account</a></p>
        </div>
    </div>
                    }
