@using WebShop.Models;
@model IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}



    @*@using (Html.BeginForm())
    {
        <div class="form-group label-floating is-empty">
            <label class="control-label">Customer Name</label>
            <div class="col-md-10">
                @Html.Editor("txtFilter", "", new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="" id="search" />
            </div>
        </div>
        <div class="col-md-10">
            @Html.ActionLink("Hiện tất cả", "ClearAll", "CUSTOMERs")
        </div>
    }*@
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="color:#999">Khách Hàng <a class="agile-icon" href="~/CUSTOMERs/Create" style="float:left"><i class="fa fa-plus-square"></i></a></p>

        </div>

        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th data-breakpoints="xs">
                        Tên Khách Hàng
                    </th>
                    <th data-breakpoints="xs">
                        Địa Chỉ
                    </th>
                    <th data-breakpoints="xs">
                        Sđt
                    </th>
                    <th data-breakpoints="xs">
                        Fax
                    </th>
                    <th data-breakpoints="xs">
                        Email
                    </th>


                    <th></th>
                </tr>

                @foreach (var item in Model.dsKH)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CUSTNAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ADDRESS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PHONE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FAX)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>

                        <td>
                            <a href="/CUSTOMERs/Edit/@item.CUSTID" class="btn btn-warning "> <i class="fa fa-pencil"></i> Sửa</a>
                            <a href="/CUSTOMERs/Details/@item.CUSTID" class="btn btn-send"><i class="fa fa-list-alt"></i> Chi Tiết</a>
                            <a href="/CUSTOMERs/Delete/@item.CUSTID" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa</a>
                        </td>
                    </tr>
                }

            </table>

            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination pagination-primary">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="~/CUSTOMERs/Index">First</a>
                        </li>
                        <li>
                            <a href="~/CUSTOMERs/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }
                    @for (var pager = Model.Pager.StartPage; pager <= Model.Pager.TotalPages; pager++)
                    {
                        <li class="@(pager == Model.Pager.CurrentPage ?  "active" : "")">
                            <a href="~/CUSTOMERs/Index?page=@pager">@pager</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="~/CUSTOMERs/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="~/CUSTOMERs/Index?page=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
