@model WebShop.Models.Db.STAFF
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UI-AD/_MainPage.cshtml";
}

<h2>Infor Account</h2>
<dl class="dl-horizontal">
    <dt>
        User Name:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.USERID)
    </dd>

    <dt>
        Roles
    </dt>

    <dd>
        @Html.DisplayFor(model => model.USER.ROLES)
    </dd>
</dl>
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="color:#999">Thông tin đăng nhập </p>

        </div>

        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>

             
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ADDRESS)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PHONE)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EMAIL)
                    </td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>

